<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Applicaion</title>
    <link rel="stylesheet" href="../public/main.css" type="text/css">
</head>
<body>
    <img id="hero" src="../public/images/taxi-autopilot.png" alt="taxi-autopilot">
    <header>
        <h1> Weather <br/> Application </h1>
    </header>

    <main>
        <p>Type your city</p>
        <form method="post" id="weatherForm">
            <input type="text" id="city" placeholder="City name">
            <input type="submit" id="postSub" value="Submit">
        </form>

        <script src="../public/functions.js"></script>
    </main>
</body>
</html>